.data, .achievement {
  font-size: 150px;
  display:none;
}
body {
	background: url(img/bg.jpg) no-repeat top center;
	background-size: contain;
	color: #FFF;
}
body, html {
  width: 100%;
  height: 100%;
}
body.one {
	background-image: url(img/lumos.jpg);
}
body.two {
	background-image: url(img/expelliarmus.jpg);
}
body.three {
	background-image: url(img/wingardiumleviosa.jpg);
}
body.four {
	background-image: url(img/alohomora.jpg);
}